* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /************ color Pallete ***************/
  --white: #fff;
  // --black: rgb(36, 35, 35);
  --black: #393e41;
  --dark-blue: #14213d;
  // --grey: #e6e6e6;
  --grey: #fbfbf2;
  --purple: #7209b7;

  /****************** Fonts *****************/

  --body-font: "Comfortaa", cursive;
  --thick-font: "Sarpanch", sans-serif;
  --krona-font: "Krona One", sans-serif;
}

body {
  background-color: var(--white);
}
