.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100vw;
  padding: 0 80px;
  background-color: yellow;
  &-title {
    color: black;
    font-size: 50px;
    font-weight: normal;
  }
  .project-wrapper {
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 50px 50px;
    grid-gap: 380px;
    @media screen and (max-width: 414px) {
      display: flex;
      flex-direction: column;
    }
  }
}
